<ion-view title="'People'" right-buttons="rightButtons">
  <ion-content has-header="false" has-tabs="true">
	<div style="height:44px;width:100%"></div>
    <div class="card" ng-repeat="people in peoples" item="people">
	  <div class="item item-divider">{{people.fullname}} - {{people.age}}<span style="float:right;"><a href="#/tab/people/{{people.id}}"><i class="icon ion-person"></i></a></span></div>
	  <div class="item item-text-wrap">
		<ul>
			<li>Address: {{people.address}}</li>
			<li>Phone: {{people.phone}}</li>
			<li>Status: <strong style="color:green;">{{people.status}}</strong></li>
		</ul>
		<h4 style="margin-top:.5%;">Notes</h4>
		<p>{{people.notes}}</p>
	  </div>
	</div>

  </ion-content>
</ion-view>
