<ion-view title="'Search'">
  <ion-content has-header="true" has-tabs="true">
	<div class="card">
	  <div class="item item-divider">{{people.fullname}}</div>
	  <div class="item item-text-wrap">
		<p><label>Address: <input type="text" value="{{people.address}}" name="address" /></label></p>
		<p><label>Phone: <input type="text" value="{{people.phone}}" name="phone" /></label></p>
		<p><label>Status: <input type="text" value="{{people.status}}" name="status" /></label></p>
		<h4 style="margin-top:.5%;">Notes</h4>
		<p style="padding:.5%;border:1px dashed #eee;"><textarea name='notes'>{{people.notes}}</textarea></p>
	  </div>
	</div>
	<p style="padding:0 2.5%"><a class="button button-small icon" href="#/tab/people">Back</a>&nbsp;&nbsp;<a class="button button-small icon" href="#/tab/people">Save</a></p>
  </ion-content>
</ion-view>
