/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Feedo - Free Bootstrap Theme
 * Version: 1.0
 * URL: http://blacktie.co/
 */
 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* OVERALL ASPECT */

body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 30px;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

/* Links */
a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mb10 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.centered {
	text-align: center;
}

/* CONFIGURATION FOR Feedo */

.site {
	background: white;
margin-top: 20px;
margin-bottom: 20px;
box-shadow: 3px 3px 6px #BDBDBD;
}
.site-title {
    background: rgb(44,83,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(13,28,114,1) 86%, rgba(4,38,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(86%,rgba(13,28,114,1)), color-stop(100%,rgba(4,38,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(13,28,114,1) 86%,rgba(4,38,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(13,28,114,1) 86%,rgba(4,38,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(13,28,114,1) 86%,rgba(4,38,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(13,28,114,1) 86%,rgba(4,38,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#04266b',GradientType=0 ); /* IE6-9 */

	margin-left: -15px;
	margin-right: -15px;
	padding: 20px;
}

.site-title h2 {
	font-weight: 400;
	color: white;
	text-align: center;
}

.site-footer {
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

.post {
	display: block;
	padding-top:15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.post .pull-right {
	margin-top: -15px;
}

.post .glyphicon {
	font-size: 24px;
	color: #7f7ea8
}