
/* GALLERY THUMBNAILS AREA
-------------------------------------------------------------------------------------------------- */	
	
#galleryArea { padding:10px; background:#4A4A4A;}
#galleryArea .galleryItem { border:3px #fff solid; margin:5px; float:left; width:100px; height:100px; position:relative;}
#galleryArea .galleryItem .imgLabel { position:absolute; width:96px; bottom:0px; left:0px; display:block; background:rgba(0,0,0,.7); padding:2px; font-size:10px; color:#fff;}



/* GALLERY POPUP AREA
-------------------------------------------------------------------------------------------------- */	

#GalleryPageShade {
		height: 100%;
		width: 100%;
		background: #000000;
		position: fixed;
		top: 0px;
		left:0px;
		-moz-opacity:0.75;
		-khtml-opacity: 0.75;
		opacity: 0.75;
		filter:alpha(opacity=75);
		display:block;
		zoom:1;
		z-index:1000;
}
				
* html #GalleryPageShade { 
	position: absolute;
}

#GalleryPopup .PopupClose {
	position: absolute;
	top: 3px;
	right: 3px;
	background-color:#840000;
	color:#fff; text-align:center;
	position:absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	padding:4px;
	display:block; 

}	

#GalleryPopup .PopupClose:hover {  cursor:pointer;}		
	
				
#GalleryPopup {
							
				left:50%;
				top: 50px;
				margin-left:-400px;				
				 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				background: #fff;
				position: fixed;
				padding:10px;				
				z-index:1001;
				overflow:auto;
	}	
		

* html #GalleryPopup { 
	position: absolute;
}	